<md-sidenav md-component-id="sidenav" md-whiteframe="3" md-is-locked-open="$mdMedia('gt-sm')">
	<md-toolbar class="md-primary">
		<md-toolbar-tools layout="column">
			<h5 class="md-toolbar-tools">Menu</h5>
		</md-toolbar-tools>
	</md-toolbar>
	<md-input-container class="md-block" flex ng-controller="AccessController">
		<md-select
				ng-model="currentInstitution"
				ng-change="changeInstitution($event)"
				ng-disabled="!isAuth"
				placeholder="Access an Institution..."
				aria-label="Institution Picker">
			<md-optgroup ng-if="accessInstitutions.local.length < 1" label="No Available Institutions"></md-optgroup>
			<md-optgroup ng-if="accessInstitutions.local.length > 0" label="Available Institutions">
				<md-option ng-repeat="institution in accessInstitutions.local" ng-value="institution">{{ institution.instName }} <i>({{ institution.access }})</i></md-option>
				<md-divider></md-divider>
				<md-option ng-click="clearInstitution()">No Institution</md-option>
			</md-optgroup>
		</md-select>
	</md-input-container>
	<md-content class="md-scrollbar" ng-if="isAuth">
		<md-list>
			<md-subheader class="md-no-sticky">General</md-subheader>
			<md-list-item ng-href="/">
				<md-item-content>
					<i class="material-icons md-flex-align-icon md-avatar-icon">home</i>
					Home
				</md-item-content>
			</md-list-item>
			<md-list-item ng-href="/demo/1">
				<md-item-content>
					<i class="material-icons md-flex-align-icon md-avatar-icon">rss_feed</i>
					Feed
				</md-item-content>
			</md-list-item>
			<div ng-if="selectedInstitutionAccess == 'director'">
				<md-subheader class="md-no-sticky">Director</md-subheader>
				<md-list-item ng-href="/institution/classes">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">school</i>
						Classes
					</md-item-content>
				</md-list-item>
				<md-list-item ng-href="/institution/courses">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">library_books</i>
						Courses
					</md-item-content>
				</md-list-item>
				<md-list-item ng-href="/institution/permissions">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">security</i>
						Permissions
					</md-item-content>
				</md-list-item>
				<md-list-item ng-href="/institution/associations">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">group_work</i>
						Associations
					</md-item-content>
				</md-list-item>
				<md-list-item ng-href="/institution/requests">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">playlist_add_check</i>
						Requests
					</md-item-content>
				</md-list-item>
				<md-list-item ng-href="/institution/settings">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">settings</i>
						Settings
					</md-item-content>
				</md-list-item>
			</div>
			<div ng-if="selectedInstitutionAccess == 'master'">
				<md-subheader class="md-no-sticky">Class Master</md-subheader>
				<md-list-item ng-href="/parent/student/situation/ID">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">featured_play_list</i>
						Classes
					</md-item-content>
				</md-list-item>
			</div>
			<div ng-if="selectedInstitutionAccess == 'teacher'">
			<md-subheader class="md-no-sticky">Teacher</md-subheader>
				<md-list-item ng-href="/marks/situation">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">class</i>
						Activity Catalogue
					</md-item-content>
				</md-list-item>
				<md-list-item ng-href="/marks/analytics">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">assessment</i>
						Analytics Tool
					</md-item-content>
				</md-list-item>
			</div>
			<div ng-if="selectedInstitutionAccess == 'student'">
				<md-subheader class="md-no-sticky">Student</md-subheader>
				<md-list-item ng-href="/student/situation">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">assignment_ind</i>
						Marks Situation
					</md-item-content>
				</md-list-item>
			</div>
			<div ng-if="selectedInstitutionAccess == 'parent'">
				<md-subheader class="md-no-sticky">Parent</md-subheader>
				<md-list-item ng-href="/parent/student/list">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">view_list</i>
						Student List
					</md-item-content>
				</md-list-item>
				<md-list-item ng-href="/parent/student/situation/ID">
					<md-item-content>
						<i class="material-icons md-flex-align-icon md-avatar-icon">assignment_ind</i>
						Student Situation
					</md-item-content>
				</md-list-item>
			</div>
		</md-list>
	</md-content>
	<md-content class="md-scrollbar" ng-if="!isAuth">
		<md-list>
			<md-list-item ng-href="/login">
				<md-item-content>
					<i class="material-icons md-flex-align-icon md-avatar-icon">lock</i>
					Login
				</md-item-content>
			</md-list-item>
			<md-list-item ng-href="/register">
				<md-item-content>
					<i class="material-icons md-flex-align-icon md-avatar-icon">lock</i>
					Register
				</md-item-content>
			</md-list-item>
		</md-list>
	</md-content>
</md-sidenav>