<md-content layout-padding md-whiteframe="2">
    <h3>Welcome to vCatalogue!</h3>
    <p>You can navigate in the application by selecting the institution you want to access on the right side and navigating through the menu.</p>
    <p>You may also create an institution yourself and proceed to administrating it.</p>
</md-content>