<md-toolbar class="md-medium-tall">
    <md-toolbar-tools layout="row" layout-padding layout-align="left center">
        <h4 md-truncate>
            <i class="material-icons md-flex-align-icon md-avatar-icon">add_circle</i>
            <span>New Class</span>
        </h4>
    </md-toolbar-tools>
</md-toolbar>
<md-content md-whiteframe="2">
    <md-content>
        <form name="createClassForm" ng-submit="createClass()" layout="column" layout-align="center center">
            <md-input-container flex="50">
                <label>Class Name</label>
                <input required name="name" ng-model="class.name" md-maxlength="100" minlength="3">
                <div ng-messages="createClassForm.name.$error">
                    <div ng-message="required">Class name cannot be blank.</div>
                    <div ng-message="md-maxlength">Class name cannot exceed 100 characters.</div>
                    <div ng-message="minlength">Class name cannot be shorter than 3 characters.</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="createClass()">Create Class</md-button>
        </form>
    </md-content>
</md-content>