<md-toolbar class="md-medium-tall">
    <md-toolbar-tools layout="row" layout-padding layout-align="left center">
        <h4 md-truncate>
            <i class="material-icons md-flex-align-icon md-avatar-icon">school</i>
            <span>Class</span>
        </h4>
    </md-toolbar-tools>
</md-toolbar>
<md-content md-whiteframe="2">
    <md-tabs md-dynamic-height md-border-bottom md-theme="default">
        <md-tab label="Students">
            <div flex layout-padding class="md-table-container mdl-shadow--4dp">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable md-table-span">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Course</th>
                        <th>Mark</th>
                        <th>Date</th>
                        <th>By</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Mathematics</td>
                        <td>10</td>
                        <td>Today</td>
                        <td>Mariana Coada</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab>
        <md-tab label="Courses">
            <md-content class="md-padding">
                <h1 class="md-display-1">Trimester II</h1>
            </md-content>
        </md-tab>
        <md-tab label="Master">
            <md-content>
                hey
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>