<md-toolbar class="md-medium-tall">
    <md-toolbar-tools layout="row" layout-padding layout-align="left center">
        <h4 md-truncate>
            <i class="material-icons md-flex-align-icon md-avatar-icon">group_work</i>
            <span>Associations</span>
        </h4>
    </md-toolbar-tools>
</md-toolbar>
<md-content md-whiteframe="2">
    <md-tabs md-dynamic-height md-border-bottom md-theme="default">
        <md-tab label="Parents & Students">
            <md-content class="md-padding">

            </md-content>
        </md-tab>
        <md-tab label="Masters & Classes">
            <md-content class="md-padding">

            </md-content>
        </md-tab>
    </md-tabs>
</md-content>