<md-content ng-init="listCourses()">
    <div flex="100" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Courses</span>
                    <span class="md-subhead">You currently have {{ coursesLeft.length + coursesRight.length }} courses in your institution.</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-href="/institution/courses/create" class="md-primary md-raised">
                    <i class="material-icons md-flex-align-icon">add_circle</i>
                    <span>Create Class</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="course in coursesLeft">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ course.name }}</span>
                        <span class="md-subhead">{{ course.createdDate | date: 'medium' }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="/institution/course/{{ course._id }}">
                        <i class="material-icons md-flex-align-icon">settings</i>
                        <span>Manage</span>
                    </md-button>
                    <md-button ng-click="removeCourse($event)">
                        <i class="material-icons md-flex-align-icon">delete</i>
                        <span>Remove Course</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="course in coursesRight">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ course.name }}</span>
                        <span class="md-subhead">{{ course.createdDate | date: 'medium' }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="/institution/course/{{ course._id }}">
                        <i class="material-icons md-flex-align-icon">settings</i>
                        <span>Manage</span>
                    </md-button>
                    <md-button ng-click="removeCourse($event)">
                        <i class="material-icons md-flex-align-icon">delete</i>
                        <span>Remove Course</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>