<md-content ng-init="listClasses()">
    <div flex="100" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Classes</span>
                    <span class="md-subhead">You currently have {{ classesLeft.length + classesRight.length }} classes in your institution.</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-href="/institution/classes/create" class="md-primary md-raised">
                    <i class="material-icons md-flex-align-icon">add_circle</i>
                    <span>Create Class</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="class in classesLeft">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ class.name }}</span>
                        <span class="md-subhead">{{ class.createdDate | date: 'medium' }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="/institution/class/{{ class._id }}">
                        <i class="material-icons md-flex-align-icon">settings</i>
                        <span>Manage</span>
                    </md-button>
                    <md-button ng-click="removeClass($event)">
                        <i class="material-icons md-flex-align-icon">delete</i>
                        <span>Remove Class</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="class in classesRight">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ class.name }}</span>
                        <span class="md-subhead">{{ class.createdDate | date: 'medium' }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="/institution/class/{{ class._id }}">
                        <i class="material-icons md-flex-align-icon">settings</i>
                        <span>Manage</span>
                    </md-button>
                    <md-button ng-click="removeClass($event)">
                        <i class="material-icons md-flex-align-icon">delete</i>
                        <span>Remove Class</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>