<!DOCTYPE html>
<html ng-app="app" charset="utf8">
<% include includes/header %>

<body ng-cloak layout="column" ng-controller="MainController as app">
<% include includes/nav %>

<div flex layout="row">
    <% include includes/sidenav %>

    <md-content flex id="content" layout-padding ng-view></md-content>
</div>
</body>
</html>