<md-toolbar class="md-medium-tall">
    <md-toolbar-tools>
        <h4 md-truncate>
            <i class="material-icons md-flex-align-icon md-avatar-icon">assignment_ind</i>
            <span>School Situation of Dumitrov Cristian Andrei</span>
        </h4>
    </md-toolbar-tools>
</md-toolbar>
<md-content md-whiteframe="2">
    <md-tabs md-dynamic-height md-border-bottom md-theme="default">
        <md-tab label="Trimester I">
            <md-toolbar class="md-primary">
                <h1 class="md-toolbar-tools">Trimester I</h1>
            </md-toolbar>
            <div class="md-table-container mdl-shadow--2dp">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable md-table-span">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Course</th>
                        <th>Mark</th>
                        <th>Date</th>
                        <th>By</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Mathematics</td>
                        <td>10</td>
                        <td>Today</td>
                        <td>Mariana Coada</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab>
        <md-tab label="Trimester II">
            <md-content class="md-padding">
                <h1 class="md-display-1">Trimester II</h1>
            </md-content>
        </md-tab>
        <md-tab label="Trimester III">
            <md-content class="md-padding">
                <h1 class="md-display-1">Trimester III</h1>
            </md-content>
        </md-tab>
        <md-tab label="Overall Situation">
            <md-content class="md-padding">
                <h1 class="md-display-1">Overall Situation</h1>
            </md-content>
        </md-tab>
        <md-tab label="Teacher Remarks">
            <md-content class="md-padding">
                <h1 class="md-display-1">Teacher Remarks</h1>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>