<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Dumitrov Cristian Andrei</span>
                    <span class="md-subhead">Liceul Teoretic "Dunarea"</span>
                    <span class="md-subhead">Added on 26 April, 2017</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-href="/parent/student/situation/ID">
                    <i class="material-icons md-flex-align-icon">assignment_ind</i>
                    <span>View Situation</span>
                </md-button>
                <md-button ng-click="removeStudent($event)">
                    <i class="material-icons md-flex-align-icon">delete</i>
                    <span>Remove Student</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Nazare Daniela</span>
                    <span class="md-subhead">Expelled</span>
                    <span class="md-subhead">Added on 26 April, 2017</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-href="/parent/student/situation/ID">
                    <i class="material-icons md-flex-align-icon">assignment_ind</i>
                    <span>View Situation</span>
                </md-button>
                <md-button ng-click="removeStudent($event)">
                    <i class="material-icons md-flex-align-icon">delete</i>
                    <span>Remove Student</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>